# Dossiers générés par Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
artifacts/

# Logs, Debugging, and Database
*.log
*.pidb
*.suo
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
*.db

# Fichiers générés par .NET
project.lock.json
project.fragment.lock.json
*.nuget
*.nupkg
*.snupkg
*.runtimeconfig.dev.json

# Configurations utilisateur
*.user
*.vs/
*.csproj.user

# Dossiers de test
TestResults/
*.coverage

# JetBrains Rider
.idea/

# Autres fichiers temporaires ou inutiles
~$*
*.tmp
*.bak
*.swp
*.sublime-workspace
*.sublime-project